/* Importación de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

body {
    font-family: 'Orbitron', sans-serif;
    background: url('Fotos/images.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #212F3D;
    margin: 0;
    position: relative; /* Para los efectos de partículas */
}

/* Header */
header {
    font-family: 'Orbitron', sans-serif;
    background-color: #1c0522; /* Color principal */
    color: #ff9900; /* Color de texto */
    padding: 20px;
    text-align: center;
    width: 100%;
    position: relative;
    z-index: 1000;
    box-sizing: border-box;
}

/* Nav */
nav {
    background-color: #1c0522;
    color: #fff;
    padding: 15px 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    font-family: 'Bebas Neue', sans-serif;
    box-sizing: border-box;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff9900;
}


.gallery-container {
    display: flex;
    justify-content: center;
    padding: 2em;
    position: relative; /* Para posicionar el contenedor de partículas */
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    gap: 10px;
    width: 100%;
    max-width: 1200px; /* Ajustar según sea necesario */
}

.gallery img {
    width: 100%;
    height: 200px; /* Ajustar altura para que las imágenes se alineen bien */
    object-fit: cover;
    border: 4px solid #1c0522;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 900px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Partículas de fondo */
.particles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: transparent;
    z-index: 0;
}
